html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/*Common styles*/

body {
  background-color: palegoldenrod;
  box-sizing: border-box;
}
.wrapper {
  width: 1200px;
  padding: 20px 0;
  margin: 0 auto;
  background-color: powderblue;
  font-size: 20px;
  line-height: 25px;
}
h1 {
  font-size: 35px;
  padding: 10px;
  background-color: aqua;
  text-align: center;
}
h3,
h4 {
  font-size: 25px;
  padding: 5px;
  text-align: center;
}
.white {
  background-color: white;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
.grey {
  background-color: grey;
}
.red {
  background-color: red;
}
.pink {
  background-color: pink;
}
.violet {
  background-color: violet;
}
.blue {
  background-color: lightskyblue;
}

/*Float styles*/

.float {
  width: 400px;
  float: left;
}
.float_wrapper1 {
  width: 800px;
  float: left;
}
.float_wrapper2 {
  float: left;
  width: 400px;
}
.float_red {
  float: left;
  width: 400px;
}
.float_wrapper3 {
  float: right;
  width: 800px;
}
.float_pink,
.float_violet {
  float: left;
  width: 400px;
}
.footer_float_right {
  float: right;
  width: 400px;
}
.footer_float_left {
  float: left;
  width: 800px;
}
.footer_float_wrapper_left,
.float_tip3 {
  float: left;
  width: 400px;
}
.float_tip4,
.float_tip5 {
  float: left;
  width: 200px;
}
.clr {
  clear: both;
}

/*Inline-block styles*/

.header_in_block,
.footer_in_block,
.content1_in_block,
.content2_in_block {
  font-size: 0;
}
.in_block,
.in_block_wrapper2,
.in_block_red,
.in_block_pink,
.in_block_violet {
  display: inline-block;
  font-size: 20px;
  line-height: 25px;
  width: 400px;
  vertical-align: top;
}
.in_block_wrapper1,
.in_block_wrapper3 {
  display: inline-block;
  font-size: 20px;
  line-height: 25px;
  width: 800px;
  vertical-align: top;
}
.in_block_wrapper4 {
  width: 800px;
  font-size: 0;
}
.footer {
  font-size: 0;
}
.footer_in_block_left {
  display: inline-block;
  font-size: 20px;
  line-height: 25px;
  width: 800px;
  vertical-align: top;
}
.footer_in_block_right {
  display: inline-block;
  font-size: 20px;
  line-height: 25px;
  width: 400px;
  vertical-align: top;
}
.footer_in_block_wrapper {
  width: 800px;
  font-size: 0;
}
.footer_in_block_wrapper_left,
.in_block_tip3 {
  display: inline-block;
  font-size: 20px;
  line-height: 25px;
  width: 400px;
}
.footer_in_block_wrapper_1 {
  width: 400px;
  font-size: 0;
}
.in_block_tip4,
.in_block_tip5 {
  display: inline-block;
  font-size: 20px;
  line-height: 25px;
  width: 200px;
}

/*table_cell styles*/

.table_cell {
  width: 400px;
  display: table-cell;
}
.table_cell_wrapper1,
.table_cell_wrapper3,
.footer_table_cell_left,
.table_cell_tip1 {
  width: 800px;
}
.table_cell_wrapper2,
.table_cell_red,
.table_cell_pink,
.table_cell_violet,
.footer_table_cell_right,
.table_cell_tip2,
.table_cell_tip3 {
  width: 400px;
}
.table_cell_wrapper1,
.table_cell_wrapper2,
.table_cell_red,
.table_cell_wrapper3,
.table_cell_pink,
.table_cell_violet,
.footer_table_cell_left,
.footer_table_cell_right,
.footer_table_cell_wrapper_left,
.table_cell_tip3 {
  display: table-cell;
}
.table_cell_tip4,
.table_cell_tip5 {
  width: 200px;
  display: table-cell;
}
